@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "flowbite";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  .portada {
    background-image: url(./assets/Background4.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .logo {
    background-image: url(./assets/Logo2.png);
    background-repeat: no-repeat;
    background-size: 80% 100%;
  }
  .fontPoppins {
    font-family: "poppins";
  }
  .fontPoppinsB {
    font-family: "poppinsB";
  }
}
@font-face {
  font-family: "poppins";
  src: url("./assets/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "poppinsB";
  src: url("./assets/Poppins/Poppins-Regular.ttf");
}
