<!DOCTYPE html>
    <html>
    <head>
      <meta charset="UTF-8">
      <title>Correo de bienvenida</title>
    </head>
    <header style="text-align: center; background-color:#ffffff;">
        <h1 style="color:rgb(249, 250, 249); background-color:#2D572C; height: 80px; border: 2px solid black; border-radius:3px; font-family: cursive; font-size: 50px; padding-top: 10px;" > Wanderlust </h1>
    </header>
    <body>
      <div style="text-align: center; background-color:#ffffff; margin: 70px; border-radius: 40px;">
        <h2 style="text-align: center; color: black; padding-top: 20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 15px;">¡Hola viajero/a! Te damos la más cordial bienvenida a nuestro sitio web de viajes,<br>
        donde podrás descubrir emocionantes destinos<br>
        y disfrutar de experiencias inolvidables.<br><br><br>
        ¡Empieza a planificar tus aventuras ahora y déjate llevar por la magia de viajar! 🌍✈️🏨
        </h2>
      </div>
    </body>
    </html>